<div>
    <p style="margin: 0">Hi <%= userEmail %>,</p>
    <br>
    <p style="margin: 0">Thanks for signing up to be an early user of KIP101!</p>
    <br>
    <p style="margin: 0">Please confirm your email address <strong><a href="<%= verificationLink %>">here</a></strong>.
                         This will help us get you back in if you’re ever locked out of the account.</p>
    <br>
    <p style="margin: 0">Thanks,</p>
    <br>
    <p style="margin: 0">The KIP101 Team</p>
</div>