<div>
    <p style="margin: 0">Hi <%= userEmail %>,</p>
    <br>
    <p style="margin: 0">To reset your password, please click
        <strong>
            <a href="<%= resetPasswordLink %>"> here</a>.
        </strong>
    </p>
    <br>
    <p style="margin: 0">Thanks,</p>
    <p style="margin: 0">The KIP101 Team</p>
</div>